.contact-container{
    height: 450px;
    color: white;
    background: linear-gradient(to bottom, #1c1c1c, #c0c0c0, #1c1c1c);
    font-family:Poppins;

}
.inside-contact{
    text-align: start;
    margin-top: 50px;
    padding-left: 75px;
    
}

.inside-contact p{
    font-size: 50px;
    margin-top: 10px;
    font-weight: 100;

}
